includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
